

  .myVideo{
  position:fixed;
  right: 200px;
  bottom: 40px;
  width: 500px;
  height: 80%;
  clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
 } 
 .text{
    margin-top: 15%;

 }
 .text h2{
    font-weight: 700;
    font-size: 4em;
    padding-left: 8%;
 }
 .text p{
    font-size: 1.5em;
    padding-left: 7%;
 }


 .mybtn .btn{
    width: 200px;
    font-size: 20px;
    padding: 10px 24px;
    border: none;
    background:#5a4aec;
    color: #fff;
    cursor: pointer;
    margin-left: 200px;

  }

